.memo_box {
    position: fixed !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 400px !important;
    border: 1px solid white !important;
    border-top-right-radius: 7px !important;
    border-top-left-radius: 7px !important;
    background-color: white !important;
    box-shadow: -0.95px -1.91px 4.77px 0px #cccccc !important;
    z-index: 1000000000 !important;
}

.memo_top {
    display: none !important;
    width: 100% !important;
    height: 21px !important;
    background-color: #eeeeee !important;
}

.cancel_button.css {
    position: absolute !important;
    margin-top: 7.5px !important;
    right: 9px !important;
}

.memo_bottom {
    display: flex !important;
    width: 100% !important;
    min-height: 230px !important;
}

.memo_bottom_in {
    display: flex !important;
    width: 95% !important;
    height: 226px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 13px !important;
}

.memo_text_area {
    display: flex !important;
    width: 89% !important;
    height: 190px !important;
    margin: auto !important;
}

.memo_text {
    width: 100% !important;
    border: 0 solid !important;
    text-align: initial !important;
    font-size: 12px !important;
    resize: none !important;
    outline: none !important;
}

.memo_submit_button {
    position: absolute !important;
    display: flex !important;
    bottom: 23px !important;
    right: 7% !important;
}

.memo_submit_button > input {
    display: relative !important;
    margin-left: 12px !important;
    background: none !important;
    border: 0 solid !important;
    color: #a6a7a9 !important;
    font-size: 12px !important;
}