.memo_box {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 270px;
    width: 400px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 4.8px 0px rgba(137,137,137,1);
}

.memo_top {
    display: flex;
    width: 100%;
    height: 21px;
}

.cancel_button.css {
    position: absolute;
    margin-top: 7.5px;
    right: 9px;
}

.memo_bottom {
    display: flex;
    width: 100%;
    min-height: 250px;
    background-color: #eeeeee;
}

.memo_bottom_in {
    display: flex;
    width: 95%;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    border: #b5b5b5 1px solid;
    background-color: white;
}

.memo_text_area {
    display: flex;
    width: 89%;
    height: 177px;
    margin: auto;
}

.memo_text {
    width: 100%;
    border: 0 solid;
    text-align: initial;
    font-size: 12px;
    resize: none;
    outline: none;
}

.memo_submit_button {
    position: absolute;
    display: flex;
    bottom: 40px;
    right: 7%;
}

.memo_submit_button > input {
    display: relative;
    margin-left: 8px;
    background: none;
    border: 0 solid;
    color: #a6a7a9;
    font-size: 12px;
    outline: none;
}