.memo_box {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 400px;
    border: 1px solid white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: white;
    box-shadow: -0.95px -1.91px 4.77px 0px #cccccc;
}

.memo_top {
    display: none;
    width: 100%;
    height: 21px;
    background-color: #eeeeee !important;
}

.cancel_button.css {
    position: absolute;
    margin-top: 7.5px;
    right: 9px;
}

.memo_bottom {
    display: flex;
    width: 100%;
    min-height: 230px;
}

.memo_bottom_in {
    display: flex;
    width: 95%;
    height: 226px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}

.memo_text_area {
    display: flex;
    width: 89%;
    height: 190px;
    margin: auto;
}

.memo_text {
    width: 100%;
    border: 0 solid;
    text-align: initial;
    font-size: 12px;
    resize: none;
    outline: none;
}

.memo_submit_button {
    position: absolute;
    display: flex;
    bottom: 23px;
    right: 7%;
}

.memo_submit_button > input {
    display: relative;
    margin-left: 12px;
    background: none;
    border: 0 solid;
    color: #a6a7a9;
    font-size: 12px;
}