* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

/* 상단바 부분 */
.header {
    display: flex;
    height: 48px;
    width: 100%; 
    background-color: #ff5343;
}

.textlogo{
    height: 20px;
    width: auto;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.second_header {
    display: flex;
    height: 48px;
    width: 100%;
    z-index: 99;
    background: #f4f4f4;
}

.p1 {
    display: flex;
    position: relative;
    font-size: 13px;
    color: #ff5343;
    margin-top: auto;
    margin-bottom: auto;
}

.plusbutton { 
    position: relative;
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 23px;
    margin-right: 10px;
}

.back {
    position: absolute;
    right: 23px;
    margin-top: 13px;
}

/* 아래 글 부분 */

.body {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 69px;
    
}

/*웹이 560px보다 작아질 때 body 크기 조절 */

@media (max-width: 520px) {
    .body {
        width: 340px;
        margin-right: auto;
        margin-left: auto;                           
    }
}

.description {
    height: 45px;
    margin-bottom: 27px;
}

.description > h1 {
    font-size: 17px;
    margin-bottom: 3px;
    
}

.description > h2 {
    font-size: 14px;
    color: #606060;
}


.inputbox {
    width: 100%;
    height: 38px;
    border: #ffbbbb 0.7px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 17px;
  }

  .inputbutton {
    width: 100%;
    height: 38px;
    background-color: #ffbbbb;
    border: #f2afaf 0.7px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-top: 13px;
    
  }

  .inputbutton_new {
    width: 100%;
    height: 38px;
    background-color: #FF5343;
    border: #ed4d45 0.7px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-top: 13px;
   
  }

  .nocode {
    color : #606060;
    font-size: 11px;
    text-align: center;
    align-content: center;
    margin-top: 33px;
  }

  .line {
      display: inline-flex;
  }

  .line > div {
      width: 175px;
      border-bottom: #606060 1px solid;
      margin: auto;
  }

  .line > h3 {
      margin-left: 15px;
      margin-right: 15px;
  }

  @media (max-width: 520px) {
    .line > div {
        width: 100px;
        margin-right: auto;
        margin-left: auto;                           
    }
}

  .inputbutton2 {
    width: 100%;
    height: 38px;
    background-color: #FF5343;
    border: #ed4d45 0.7px solid;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
    margin-top: 21px;
  
  }


