* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

/* 상단바 부분 */
.header {
  position: fixed;
  display: flex;
  height: 48px;
  width: 100%; 
  background-color: #ff5343;
  z-index: 100000;
}

.textlogo   {
  height: 20px;
  width: auto;
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.second_header {
  position: fixed;
  display: flex;
  min-height: 48px;
  width: 100%;
  z-index: 99;
  background: #f4f4f4;
  top: 48px;
}

/* 방제 + 구성원 */

.memo_list {
  position: absolute;
  top: 97px;
  width: 100%;
}

.room_name {
  min-width: fit-content;
  font-size: 14px;
  color: #333333;
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.line {
  border-left: 2px #cbced3 solid;
  border-radius: 2px;
  height: 11px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  margin-left: 15px;
}


.outline {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.room_users {
  flex-wrap: wrap;
  display: flex;
  padding-top: 8px;
  padding-bottom: 4px;
}

.outerline {
  display: flex;
  margin-top: auto;
  margin-bottom: 4px;
  margin-right: 6px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #858585;
}


.users {
  display: flex;
  position: relative;
  font-size: 8px;
  color: white;
  margin: auto;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  display: table;
}

.users >p {
  margin-top: 10%;
}

/*초대코드 복사*/

#myInput {
  opacity: 0;
}

.tooltip {
  position: absolute;
  display: flex;
  top: 11px;
  right: 23px;
}

.tooltip > button {
  background-color: #ff5343;
  height: 25px;
  width: 57px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 8px;
  border: 1px solid white;
  outline: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 110px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 110%;
  right: 0;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* 메모리스트 부분 */

.out_div {  
  margin: 8px;
}

.url_div { 
  display: flex;
  height: 47px;
  width: 100%; 
  background-color: #f4f4f4;
}

.urltag {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-weight: 400;
    color: #555;
    text-decoration: none;
}

.urltag:hover {
  text-decoration-line: underline;
}


.contents_div {
  margin-top: 8px;
  display: flex;
  min-height: 45px;
  border-radius: 6px;
  border: 2px solid #f4f4f4;
  width: -webkit-fill-available;
}

.line2 {
  border-left: 2px #cbced3 solid;
  border-radius: 2px;
  height: 8px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  margin-right: 12px;
}

.writer {
  min-width: max-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  color: #ff5343;
}

.memo_content {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 6px;
  font-weight: 400;
  word-break: break-all;
}

/* 중간 이미지 */

 .background_logo {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.background_img {
  position: relative;
  height: 100px;
  width: auto;
  margin:auto;
}