* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

/* 상단바 부분 */
.header {
    display: flex;
    height: 48px;
    width: 100%; 
    background-color: #ff5343;
}

.textlogo   {
    height: 20px;
    width: auto;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.second_header {
    display: flex;
    height: 48px;
    width: 100%;
    z-index: 99;
    background: #f4f4f4;
}

/* 방제 + 구성원 */

.room_name {
    font-size: 14px;
    color: #333333;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.line {
    border-left: 2px #cbced3 solid;
    border-radius: 2px;
    height: 11px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    margin-left: 15px;
}


.outline {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.room_users {
    display: flex;
}

.outerline {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #858585;
}

.users {
    display: flex;
    position: relative;
    font-size: 8px;
    color: white;
    margin: auto;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    display: table;
}

.users >p {
    margin-top: 10%;
}

/*초대코드 복사*/

#myInput {
    opacity: 0;
}

.tooltip {
    position: absolute;
    display: flex;
    top: 11px;
    right: 23px;
  }
  
.tooltip > button {
    background-color: #ff5343;
    height: 25px;
    width: 57px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 8px;
    border: 1px solid white;
    outline: none;
}

  .tooltip .tooltiptext {
    visibility: hidden;
    min-width: 110px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    right: 0;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }