* {                 
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
}

.header {
    display: flex;
    height: 48px;
    width: 100%; 
    background-color: #ff5343;
}

.textlogo{
    height: 20px;
    width: auto;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.second_header {
    display: flex;
    height: 48px;
    width: 100%;
    z-index: 99;
    background: #f4f4f4;
}

.p1 {
    display: flex;
    position: relative;
    font-size: 14px;
    color: #333333;
    margin-top: auto;
    margin-bottom: auto;
    left: 25px;
}

.room_number {
    position: relative;
    font-size: 14px;
    color: #ff5343;
    margin-left: 11px;
}

.plusbutton {
    position: absolute;
    height: 22px;
    width: auto;
    margin-top: 13px;
}

.room1 {
    position: relative;
    display: flex;
    min-height: 79px;
    width: 100%;
    z-index: 99;
    border-bottom: #b7b7b7 1px solid;
    cursor: pointer;
}

.room1:hover {
    background-color: #e8e8e8;
  }
  

.room_content {
    position: relative;
    max-width: 265px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    left: 25px;
}

.room_button {
    position: absolute;
    height: 19px;
    width: 58px;
    right: 21px;
    margin-top: 30px;
}

.p2 {
    display: flex;
    font-size: 13px;
    color: #333333;
    margin-bottom: 5px;
}

.p2 > p {
    margin-left: 8px;
    font-size: 13px;
    color: #bfbfbf
}

.p3 {
    word-break: break-all;
    display: flex;
    font-size: 12px;
    color: #767676;
}


/* 방추가하기 팝업 */
#myInput {
    opacity: 0;
}

.tooltip {
    position: absolute;
    display: flex;
    right: 45px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    min-width: 95px;
    background-color: #555;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    right: 0;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* 방삭제하기 버튼 */

  .delete_div {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 15px;
    cursor: pointer;
  }

  /* 삭제하기 버튼 호버 효과 */
  
  .delete_div .tooltiptext {
    visibility: hidden;
    min-width: 95px;
    background-color: #555;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    right: 0;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .delete_div .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: #555 transparent transparent transparent;
  }
  
  .delete_div:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* 클릭 영역 */
  .touch_area {
    min-width: 83%;
    position: absolute;
    height: 100%;
  }